<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Chireiden.TSAPI" version="2021.8.14.140059" targetFramework="net48" />
  <package id="Chireiden.TShockAPI" version="2021.8.14175320" targetFramework="net48" />
  <package id="Google.Protobuf" version="3.14.0" targetFramework="net48" />
  <package id="K4os.Compression.LZ4" version="1.1.11" targetFramework="net48" />
  <package id="K4os.Compression.LZ4.Streams" version="1.1.11" targetFramework="net48" />
  <package id="K4os.Hash.xxHash" version="1.0.6" targetFramework="net48" />
  <package id="ModFramework" version="1.0.9-alpha" targetFramework="net48" />
  <package id="MySql.Data" version="8.0.26" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net48" />
  <package id="BCrypt.Net-Core" version="1.6.0" targetFramework="net48" />
  <package id="BouncyCastle" version="1.8.5" targetFramework="net48" />
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net48" />
  <package id="Mono.Cecil" version="0.11.4" targetFramework="net48" />
  <package id="MonoMod" version="21.7.22.3" targetFramework="net48" />
  <package id="MonoMod.RuntimeDetour" version="21.7.22.3" targetFramework="net48" />
  <package id="MonoMod.RuntimeDetour.HookGen" version="21.7.22.3" targetFramework="net48" />
  <package id="MonoMod.Utils" version="21.7.22.3" targetFramework="net48" />
  <package id="OTAPI.Upcoming" version="3.0.20-alpha" targetFramework="net48" />
  <package id="SQLite" version="3.13.0" targetFramework="net48" />
  <package id="Stub.System.Data.SQLite.Core.NetFramework" version="1.0.115.0" targetFramework="net48" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net48" />
  <package id="System.Data.SQLite.Core" version="1.0.115.0" targetFramework="net48" />
  <package id="System.Diagnostics.PerformanceCounter" version="5.0.1" targetFramework="net48" />
  <package id="System.Memory" version="4.5.3" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.4.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.2" targetFramework="net48" />
  <package id="System.Runtime.Loader" version="4.3.0" targetFramework="net48" />
</packages>